{% extends 'base.html' %}
    
{% block content %}

    <div>
        <h1>
            hello world this is a test app
        </h1>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe necessitatibus accusamus eligendi non dolor nostrum repellat reprehenderit amet assumenda consequuntur exercitationem ut sequi fugiat doloribus similique ex, mollitia unde ipsam.
        </p>
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique cumque voluptatum delectus incidunt esse quo tempore soluta, iste alias. Nulla veniam accusamus consequatur laborum tenetur iure quos sequi ipsam dignissimos?
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed unde illo recusandae ab ullam. Ea doloremque, temporibus nulla eligendi excepturi consequuntur, similique, dolores accusantium vitae explicabo itaque distinctio quidem ullam!
            </li>
        </ul>
    </div>

{% endblock %}